<section id="about">
  <div class="about-paint" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160364/portfolio/Union_1_v3jawm.png');"></div>
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 col-lg-6">
        <img class="img-section" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656427453/portfolio/Group_62_t9olgf.svg" class="img-avatar" alt="">
      </div>
      <div class="col-md-12 col-lg-6">
        <h3 class="py-3">About Me</h3>
        <p class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        <br>
        <a href="app/assets/images/lucas_vittaz_developpeur_2022.pdf" class="btn-download my-5 py-3" id="btn"  download>Download my CV</a>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <a href="#skills" class="scroll my-5"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160390/portfolio/Frame_3_nx9d5o.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
</section>
