<section id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656427453/portfolio/Group_62_t9olgf.svg" class="img-avatar" alt="">
      </div>
      <div class="col">
        <h3>About Me</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        <a href="#">Download my CV</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656425244/portfolio/Frame_abxblj.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
</section>
