<div class="container">
  <div class="row">
    <div class="col">
      <%= cl_image_tag("https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424017/portfolio/DSC_6680_1_sewcfo.jpg",
      width: 400, height: 300, crop: :fill) %>
    </div>
    <div class="col">
      <h3>About Me</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
    </div>
  </div>
</div>
