<section id="about" data-controller="intersection">
  <div class="about-paint" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160364/portfolio/Union_1_v3jawm.png');"></div>
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 col-lg-6 reveal-left">
        <img class="img-section" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656427453/portfolio/Group_62_t9olgf.svg" class="img-avatar" alt="">
      </div>
      <div class="col-md-12 col-lg-6 reveal-right">
        <h3 class="py-3">About Me</h3>
        <p class="py-3">I am a curious and enthusiastic person, always eager to acquire more skills and knowledge.<br>
        After 6 years of international experience at Amatrans in supply chain, logistics and international transport, I decided to join Le Wagon coding bootcamp to become a web developer and extend my skills in the digital field.<br>
        Today, I offer my freelance services to carry out the following services:<br></p>
        <ul>
          <li>Complete web application</li>
          <li>Content integration</li>
          <li>API integration</li>
          <li>Creation of MVPs</li>
          <li>Models</li>
          <li>Wireframes</li>
        </ul>
        <p>Do not hesitate to contact me!</p>
        <br>
        <a href="/download" class="btn-download my-5 py-3" id="btn"  download>Download my CV</a>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <a href="#skills" class="scroll my-5"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160390/portfolio/Frame_3_nx9d5o.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
</section>
