<div id="hero" data-controller="nav">
  <div class="banner" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658132969/portfolio/Group_88_fypexh.png');">
    <div class="container py-5">
      <div class="row py-5">
        <div class="col py-5">
          <h1 class="py-5">LUCAS VITTAZ</h1>
          <h2 >Full stack - Developper</h2>
          <div class="social-links d-flex flex-row py-5">
            <a href="https://github.com/lucas-vittaz" target="blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/lucas-vittaz/" target="blank"><i class="fab fa-linkedin fa-2x "></i></a>
          </div>
          <a href="#about" class="scroll py-5"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656494703/portfolio/Frame_1_nelkin.svg" alt=""> Scroll</a>
        </div>
      </div>
    </div>
  </div>
</div>
