<section id="contact" class="py-5" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160614/portfolio/image_1_Traced_1_zxei0h.svg');">
  <div class="container" >
    <div class="row py-5">
      <div class="col-md-12 col-lg-6 form-contact d-flex align-items-center justify-content-around py-5">
        <div>
          <p>Drop me a line.<br>I would like to hear<br>from you.</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 form-contact d-flex align-items-center justify-content-center py-5">
        <form class="d-flex flex-column align-items-center" action="post">
          <h3>Get in Touch</h3>
          <input type="text" class="my-4" placeholder="name">
          <input type="text" class="my-4" placeholder="email">
          <input type="text" class="my-4" placeholder="message">
          <a href="#" class="text-center" id="btn">Send message</a>
        </form>
      </div>
    </div>
  </div>
</section>
