<section id="contact" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424546/portfolio/image_1_Traced_ujynwo.svg');">
  <div class="container" >
    <div class="row py-5">
      <div class="col form-contact d-flex align-items-center justify-content-around">
        <div>
          <p>Drop me a line.<br>I would like to hear<br>from you.</p>
        </div>
        <form class="d-flex flex-column" action="post">
          <h3>Get in Touch</h3>
          <input type="text" class="my-4" placeholder="name">
          <input type="text" class="my-4" placeholder="email">
          <input type="textaerea" class="my-4" placeholder="message">
          <a href="#" class="text-center" id="btn">Send message</a>
        </form>
      </div>
    </div>
  </div>
</section>
