<section id="contact">
  <div class="container" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424546/portfolio/image_1_Traced_ujynwo.svg');">
    <div class="row">
      <div class="col">
        <h3>Get in Touch</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Drop me a line. I would like to hear from you.</p>
      </div>
      <div class="col">
        <form action="post">
          <input type="text" placeholder="name">
          <input type="text" placeholder="email">
          <input type="textaerea" placeholder="message">
        </form>
      </div>
    </div>
  </div>
</section>
