<div class="footer d-flex flex-column">
  <h3 class="py-3">Lucas Vittaz</h3>
  <div class="footer-links py-3">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright py-3">
    All Rights Reserved © Made with <i class="fas fa-heart"></i> by Lucas Vittaz 2022
  </div>
</div>
