<div class="footer d-flex flex-column">
  <h3 class="py-5">Lucas Vittaz</h3>
  <div class="footer-links py-3">
    <a href="https://github.com/lucas-vittaz" target="blank"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/lucas-vittaz/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <div class="footer-copyright py-3">
    <p class="py-3 text-center">All Rights Reserved © Made with <i class="fas fa-heart"></i> by Lucas Vittaz 2022</p>
  </div>
  <div class="footer-paint" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658157867/portfolio/Group_79_3_zvij6z.svg');"></div>
</div>
