<div class="footer">
  <h3>Lucas Vittaz</h3>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    All Rights Reserved © Made with <i class="fas fa-heart"></i> by Lucas Vittaz 2022
  </div>
</div>
