<section id="skills">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 col-lg-6">
        <h3 class="py-5">Skills</h3>
        <p class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        <div class="skills-grid">
          <div class="skills-grid-item one">
            <div class="img ruby"></div>
          </div>
          <div class="skills-grid-item two">
            <div class="img rails"></div>
          </div>
          <div class="skills-grid-item three">
            <div class="img javascript"></div>
          </div>
          <div class="skills-grid-item four">
            <div class="img stimulus"></div>
          </div>
          <div class="skills-grid-item five">
            <div class="img react"></div>
          </div>
          <div class="skills-grid-item six">
            <div class="img sql"></div>
          </div>
          <div class="skills-grid-item seven">
            <div class="img scss"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex justify-content-center">
        <img class="img-section" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656425401/portfolio/Group_64_piqkd1.svg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#works" class="scroll my-5"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160390/portfolio/Frame_3_nx9d5o.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
  <div class="skills-paint"style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160410/portfolio/Group_47_dhhbjt.png');"></div>
</section>
