<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Skills</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        <div class="skills-grid">
        
          <div class="skills-grid-item one">
            <div class="skills-grid-percent">90%</div>
            <div class="skills-grid-title">Ruby</div>
          </div>


          <div class="skills-grid-item two">
            <div class="skills-grid-percent">90%</div>
            <div class="skills-grid-title">Rails</div>
          </div>


          <div class="skills-grid-item three">
            <div class="skills-grid-percent">90%</div>
            <div class="skills-grid-title">Javascript</div>
          </div>


          <div class="skills-grid-item four">
            <div class="skills-grid-percent">90%</div>
            <div class="skills-grid-title">Stimulus</div>
          </div>


          <div class="skills-grid-item five">
            <div class="skills-grid-percent">90%</div>
            <div class="skills-grid-title">ReactJS</div>
          </div>


          <div class="skills-grid-item six">
            <div class="skills-grid-percent">90%</div>
            <div class="skills-grid-title">SQL</div>
          </div>


          <div class="skills-grid-item seven">
            <div class="skills-grid-percent">90%</div>
            <div class="skills-grid-title">SCSS</div>
          </div>

        </div>
      </div>
      <div class="col">
        <img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656425401/portfolio/Group_64_piqkd1.svg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656425244/portfolio/Frame_abxblj.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
</section>
