<section id="skills">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col">
        <h3 class="py-5">Skills</h3>
        <p class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

        <div class="skills-grid">

          <div class="skills-grid-item one">
            <div class="ruby"></div>
          </div>


          <div class="skills-grid-item two">
            <div class="rails"></div>
          </div>


          <div class="skills-grid-item three">
            <div class="javascript"></div>
          </div>


          <div class="skills-grid-item four">
            <div class="stimulus"></div>
          </div>


          <div class="skills-grid-item five">
            <div class="react"></div>
          </div>


          <div class="skills-grid-item six">
            <div class="sql"></div>
          </div>


          <div class="skills-grid-item seven">
            <div class="scss"></div>
          </div>

        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <img class="img-section" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656425401/portfolio/Group_64_piqkd1.svg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#works" class="scroll my-5"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656425244/portfolio/Frame_abxblj.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
  <div class="skills-paint"style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424546/portfolio/Group_47_oam67i.svg');"></div>
</section>
