<section id="works" data-controller="slider">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col">
        <div class="carroussel">
          <div class="slider">
            <img class="img-slider active" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658065394/portfolio/feedmyplant_yickwr.png" alt="">
            <img class="img-slider" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658065555/portfolio/jardica_wqubfu.png" alt="">
            <img class="img-slider" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658065794/portfolio/boatnb_m4ikbg.png" alt="">
            <img class="img-slider" src="https://picsum.photos/200/300" alt="">
          </div>
          <div class="cont-btn d-flex justify-content-center">
            <div class="btn-nav text-center "></div>
          </div>
        </div>
      </div>
      <div class="col">
        <h3 class="py-5">Works</h3>
        <div class="cont-text active">
          <h4>Feed my plant</h4>
          <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit reiciendis ad nemo aperiam sint dignissimos id recusandae blanditiis adipisci! Atque non suscipit iure. Magnam amet natus eveniet labore sapiente doloremque.</p>
          <div class="lang-group d-flex flex-row py-2">
            <span class="lang">CSS</span>
            <span class="lang">HTML</span>
            <span class="lang">JS</span>
            <span class="lang">RUBY</span>
          </div>
          <a href="#"><i class="fab fa-github fa-2x py-2"></i></a>
        </div>
        <div class="cont-text">
          <h4>Jardica</h4>
          <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit reiciendis ad nemo aperiam sint dignissimos id recusandae blanditiis adipisci! Atque non suscipit iure. Magnam amet natus eveniet labore sapiente doloremque.</p>
          <div class="lang-group d-flex flex-row py-2">
            <span class="lang">CSS</span>
            <span class="lang">HTML</span>
            <span class="lang">JS</span>
            <span class="lang">RUBY</span>
          </div>
          <a href="#"><i class="fab fa-github fa-2x py-2"></i></a>
        </div>
        <div class="cont-text ">
          <h4>PICSUM 1</h4>
          <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit reiciendis ad nemo aperiam sint dignissimos id recusandae blanditiis adipisci! Atque non suscipit iure. Magnam amet natus eveniet labore sapiente doloremque.</p>
          <div class="lang-group d-flex flex-row py-2">
            <span class="lang">CSS</span>
            <span class="lang">HTML</span>
            <span class="lang">JS</span>
            <span class="lang">RUBY</span>
          </div>
          <a href="#"><i class="fab fa-github fa-2x py-2"></i></a>
        </div>
        <div class="cont-text">
          <h4>PICSUM 2</h4>
          <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit reiciendis ad nemo aperiam sint dignissimos id recusandae blanditiis adipisci! Atque non suscipit iure. Magnam amet natus eveniet labore sapiente doloremque.</p>
          <div class="lang-group d-flex flex-row py-2">
            <span class="lang">CSS</span>
            <span class="lang">HTML</span>
            <span class="lang">JS</span>
            <span class="lang">RUBY</span>
          </div>
          <a href="#"><i class="fab fa-github fa-2x py-2"></i></a>
        </div>
        <div class="controls d-flex flex-row py-2">
          <div class="carousel-control active"><span class="work-nb active">01</span></div>
          <div class="carousel-control"><span class="work-nb">02</span></div>
          <div class="carousel-control"><span class="work-nb">03</span></div>
          <div class="carousel-control"><span class="work-nb">04</span></div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col py-5">
        <a href="#contact" class="scroll py-5"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1656425244/portfolio/Frame_abxblj.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
  <div class="works-paint" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424545/portfolio/Group_87_yfprju.png');"></div>
</section>
