<section id="works" data-controller="slider" data-controller="intersection">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 col-lg-6 reveal-left">
        <div class="carroussel d-flex justify-content-center">
          <div class="slider">
            <img class="img-slider active" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658065394/portfolio/feedmyplant_yickwr.png" alt="">
            <img class="img-slider" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658065555/portfolio/jardica_wqubfu.png" alt="">
            <img class="img-slider" src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658065794/portfolio/boatnb_m4ikbg.png" alt="">
            <div class="cont-btn d-flex justify-content-center">
              <div class="btn-nav text-center "></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 reveal-right">
        <h3 class="py-3">Works</h3>
        <div class="cont-text active">
          <h4 class="py-3">Feed my plant</h4>
          <p class="py-3">feed my plant is an application that allows you to receive information on the maintenance of your plants by combining software and hardware.<br>
          the main goal of this app is to stop letting your plants die.<br>
          you can find information on the maintenance of your plants directly in the interface of the application with somes advices and you can monitor the humidity rate in the pot in real time thanks to an Arduino on-board sensor.</p>
          <div class="lang-group d-flex flex-row py-3">
            <span class="lang">Rails</span>
            <span class="lang">Stimulus</span>
            <span class="lang">SCSS</span>
            <span class="lang">C++</span>
            <span class="lang">Arduino</span>
          </div>
          <a href="https://github.com/lucas-vittaz/feed-my-plant" target="blank"><i class="fab fa-github fa-3x py-3"></i></a>
        </div>
        <div class="cont-text">
          <h4>Jardica</h4>
          <p class="py-2">My first project two years ago for a local gardening company.<br>
          This company wanted to have a website that allows prospects to discover the company and the services offered.</p>
          <div class="lang-group d-flex flex-row py-2">
            <span class="lang">HTML</span>
            <span class="lang">SCSS</span>
            <span class="lang">JavaScript</span>
            <span class="lang">SEO</span>
          </div>
          <a href="https://github.com/lucas-vittaz/jardi" target="blank"><i class="fab fa-github fa-2x py-2"></i></a>
        </div>
        <div class="cont-text ">
          <h4>BoatNb</h4>
          <p class="py-2">
          boat n b is a platform on which you can rent a boat and post rental ads.<br>
          this platform is inspired by the clicknboat site and was created as part of my studies</p>
          <div class="lang-group d-flex flex-row py-2">
            <span class="lang">Rails</span>
            <span class="lang">Stimulus</span>
            <span class="lang">SCSS</span>
            <span class="lang">Scrapping</span>
          </div>
          <a href="https://github.com/sarahmenu/Boatnb" target="blank"><i class="fab fa-github fa-2x py-2"></i></a>
        </div>
        <div class="controls d-flex flex-row py-5">
          <div class="carousel-control active"><span class="work-nb active">01</span></div>
          <div class="carousel-control"><span class="work-nb">02</span></div>
          <div class="carousel-control"><span class="work-nb">03</span></div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <a href="#contact" class="scroll py-5"><img src="https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160390/portfolio/Frame_3_nx9d5o.svg" alt=""> Scroll</a>
      </div>
    </div>
  </div>
  <div class="works-paint" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160412/portfolio/Group_87_1_vzz3kk.png');"></div>
  <div class="works-paint-2" style="background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658160426/portfolio/Vector_3_scfzpp.png');"></div>
</section>
