#about{
  position: relative;
  .img-section{
    width: 60%;
  }
  h3{
    color: $my-orange;
    font-size: 3rem;
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
  }
  li{
    font-size: 1.5rem;
  }
  .btn-download{
    transition: 0.3s ease-in-out;
  }
  .scroll{
    text-decoration: none;
    color: $my-blue;
    transition: 0.3s;
  }
  .scroll:hover{
    color: $my-orange;
  }
  .about-paint{
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    @media (min-width: 0px) and (max-width: 575px) {
      background: $my-blue;
    }
  }
}
