#about{
  position: relative;
  h3{
    color: $my-orange;
    font-size: 3rem;
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
  }

  .scroll{
    text-decoration: none;
    color: $my-blue;
  }
  .about-paint{
    position: absolute;
    top: -350px;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 1200px;
  }
}
