#hero{
  position: relative;
  .navbar-nav{
    position: absolute;
    top: 4%;
    left: 4%;
    justify-content: space-between;
    .nav-link{
      margin-right: 50px;
      padding: 2rem;
      text-decoration: none;
      color: $my-white;
    }
    .nav-item.active{
      background-image: url(https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424545/portfolio/Group_50_vlhxar.svg);
      background-size: contain;
      background-repeat: no-repeat;
      .nav-link{
        text-decoration: none;
        color: $my-orange !important;
      }
    }
  }
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }

  .banner h1 {
    margin: 0;
    color: $my-blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $my-white;
    font-size: 32px;
    font-weight: bold;
  }

  .banner h2 {
    font-size: 20px;
    color: $my-white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .social-links{
    a{
      margin-right: 20px;
      color: $my-gray;
    }
    a:hover{
      color: $my-white;
    }
  }
  .scroll{
    text-decoration: none;
    color: $my-gray;
  }
  .scroll:hover{
    color: $my-white
  }

}
