#hero{
  position: relative;


  .banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    @media (min-width: 0px) and (max-width: 575px) {
        background: $my-blue;
    }
    @media (min-width: 576px) and (max-width: 767px) {
        background-size: 100vw 100vh  !important;

    }
    @media (min-width: 768px) and (max-width: 991px) {
        background-size: 100vw 100vh !important ;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        background-size: 100vw 100vh !important ;
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
        background-size: 100% 100vh !important;
    }
  }

  .banner h1 {
    margin: 0;
    color: $my-blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $my-white;
    font-size: 60px;
    font-weight: bold;
    animation: blink 0.5 step-end infinite alternate;
  }
  @keyframes blink {
    50%{
      border-color: transparent;
    }
  }

  .banner h2 {
    font-size: 20px;
    color: $my-white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .social-links{
    a{
      margin-right: 20px;
      color: $my-gray;
      transition: 0.3s;
    }
    a:hover{
      color: $my-white;
    }
  }
  .scroll{
    position: absolute;
    bottom: 0;
    text-decoration: none;
    color: $my-gray;
    transition: 0.3s;
  }
  .scroll:hover{
    color: $my-white
  }

}
