#contact{
  .col{
    background-color: $my-white;
  }
  .form-contact{
    height: 500px;
  }
  h3{
    color: $my-orange;
    font-size: 3rem;
    font-weight: bold;
  }
  p {
    font-size: 2rem;
    font-weight: bold;
  }

  input{
    width:30em;
    border-radius: 4px;
    border: 1px solid $my-blue;
  }

}
