.footer {
  position: relative;
  background: $my-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: $my-white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $my-gray;
  opacity: 1;
  text-decoration: none;
  padding: 0px 10px;
  transition: 0.3s;
}
.footer-links a:hover {
  color: $my-white;

}
.footer .fa-heart {
  color: #D23333;
}
.footer-paint{
  position: absolute;
  top:  14%;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24%;
  height: 58%;
}
@media (max-width: 576px) {  }
@media (max-width: 768px) {  }
@media (max-width: 992px) {  }
@media (max-width: 1200px) {  }
@media (max-width: 1400px) {  }
