.navbar{
  background-color: transparent !important ;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  .collapse{
    @media (min-width: 0px) and (max-width: 991px) {
        background-color: $my-blue!important;
        border: 3px dashed $my-white;
        border-radius: 4px;
     }
  }
  .nav-link{
    margin-right: 50px;
    padding: 2rem;
    text-decoration: none;
    color: $my-white !important;
    font-weight: bold;
  }
  .nav-item.active{
    background-image: url(https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424545/portfolio/Group_50_vlhxar.svg);
    background-size: contain;
    background-position: -14PX 9px;
    background-repeat: no-repeat;
    font-weight: bold;
    .nav-link{
      text-decoration: none;
      color: $my-orange !important;
    }
  }
  .nav-item:hover{
    background-image: url(https://res.cloudinary.com/lucas-vittaz/image/upload/v1656424545/portfolio/Group_50_vlhxar.svg);
    background-size: contain;
    background-position: -14px 9px;
    background-repeat: no-repeat;
    font-weight: bold;

    .nav-link{
      text-decoration: none;
      color: $my-orange !important;
    }
  }
}
