#skills{
  position: relative;
  .img-section{
    width: 60%  ;
  }
  h3{
    color: $my-orange;
    font-size: 3rem;
    font-weight: bold;
  }
  .scroll{
    text-decoration: none;
    color: $my-blue;
    transition: 0.3s;
  }
  .scroll:hover{
    color: $my-orange;
  }
  p {
    font-size: 1.5rem;
  }

  .skills-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .skills-grid-item{
    position: relative;
    .img{
      width: 100px;
      height: 100px;
      @media (min-width: 0px) and (max-width: 575px) {
        width: 35px;
        height: 35px;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        width: 50px;
        height: 50px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 50px;
        height: 50px;;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 100px;
        height: 100px;
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        width: 75px;
        height: 75px;
      }
    }
  }
  .one{
    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 1;
    grid-row-end: 1;
  }
  .two{
    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 2;
  }
  .three{
    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;
  }
  .four{
    grid-column-start: 4;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 2;
  }
  .five{
    grid-column-start: 5;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 1;
  }
  .six{
    grid-column-start: 6;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 2;
  }
  .seven{
    grid-column-start: 7;
    grid-column-end: 7;

    grid-row-start: 1;
    grid-row-end: 1;
  }


 .ruby{
    background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658007541/portfolio/ruby_m7vfe2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .rails{
    background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658007541/portfolio/ruby_on_rails_logo_zq9asc.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .javascript{
    background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658007541/portfolio/javascript_rdn053.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .stimulus{
    background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658007541/portfolio/stimulus_aarbzm.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .react{
    background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658007541/portfolio/header-logo-react_padgcn.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sql{
    background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658007541/portfolio/sql_z0jno0.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .scss{
    background-image: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1658007541/portfolio/scss_hjbwdd.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .scroll{
    text-decoration: none;
    color: $my-blue;
  }
}

.skills-paint{
  position: absolute;
  top: -25%;
  right: 0;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 1000px;
  @media (min-width: 0px) and (max-width: 576px) {
    top: 55%;
    width: 300px;
  }
  @media (min-width: 577px) and (max-width: 991px) {
    top: 50%;
    width: 300px;
  }
}
