#works{
  position: relative;
  h3{
    color: $my-orange;
    font-size: 3rem;
    font-weight: bold;
  }
  h4{
    font-weight: bold;
    color: $my-blue;
  }
  p {
    font-size: 1.5rem;
  }

  .carroussel{
    max-width: 525px;
    max-height: 688px;
    margin: 0, auto;
    padding: 50px;
    position: relative;
    .slider img{
      width: 100%;
      display: none;
      max-width: 525px;
      max-height: 688px;
      border-radius: 4px;
      overflow: hidden;
    }
    img.active{
      display: block;
      animation: fade 0.8s;
    }
  }
  .controls{
    width: auto;
    height: 5%;
    div{
      width: 116px;
      height: 4px;
      margin-right: 10px;
      background-color: $my-gray;
    }
    div.active{
      background-color: $my-blue;
    }
    .work-nb{
      display: none;
      font-size: 1rem;
      font-weight: bold;
      color: $my-blue;
    }
    .work-nb.active{
      display: block;

    }
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .cont-btn{
    position: absolute;
    top: 50%;
    left: 71%;
    width: 20%;
    height: auto;
    background-color: $my-blue;
    border: 1px solid $my-orange;
    box-shadow: 0 10px 10px $my-blue;
    border-radius: 50% 0 0 50%;
    .btn-nav{
      font-size: 50px;
      color: $my-white;
      cursor: pointer;
    }
  }
  .cont-text{
    display: none;
    .lang{
      margin-right: 10px;
      width: auto;
      height: auto;
      padding: 0.7rem;
      background-color: $my-gray;
      color: $my-white;
      border-radius: 4px;
    }
    .lang:hover{
      background-color: $my-blue;
    }
    .fa-github{
      color: $my-blue;
    }
    .fa-github:hover{
      color: $my-gray;
    }
  }
  .cont-text.active{
    display: block;
    animation: fade 0.8s;
  }
  .scroll{
    text-decoration: none;
    color: $my-blue;
  }
  .works-paint{
    position: absolute;
    top:  20%;
    left: 0;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
  }
}
